form .avatar{
    width: 50px;
    margin-bottom: 20px;
}

.navbar .container-avatar{
    width: 30px;
    height: 30px;
    border-radius: 50px;
    overflow: hidden;
}
.navbar .container-avatar img{
    height: 100%;
}
