form .avatar{
    width: 50px;
    margin-bottom: 20px;
}

.pub-image{
    margin-bottom: 25px;
}

.navbar .container-avatar,
.pub-image .container-avatar{
    width: 30px;
    height: 30px;
    border-radius: 50px;
    overflow: hidden;
}
.navbar .container-avatar img,
.pub-image .container-avatar img{
    height: 100%;
}

.pub-image .container-avatar{
    float: left;
    margin-right: 15px;
}

.pub-image .data-user{
    font-weight: bold;
    line-height: 30px;
}
.pub-image .data-user a{
    color: #444;
}

.pub-image .nickname{
    color: gray;
}

.image-container{
    height: 400px;
    overflow: hidden;
    width: 100%;
}

.image-detail{
    max-height: 500px;
}

.image-container img{
    width: 100%;
}

.pub-image .card-body{
    padding: 0px;
}

.pub-image .description{
    padding: 20px;
}

.pub-image .btn-comments{
    margin: 20px;
    margin-top: 0;
    padding-bottom: 0px;
    margin-left: 0;
}
.likes{
    padding: 0 20px 0 20px;
    float: left;
    padding-left: 20px;
    padding-right: 5px;
}


.likes img{
    width: 20px;
    

}

.pub-image-detail .comments{
    padding: 20px;
}

.textarea{
    width: 100%;
}

.comment p{
    margin-bottom: 5px;
}

.comment a{
    margin-bottom: 20px;
}
.profile{
    display: flex;
    
}

.data-user .container-avatar img{
    width: 250px;
    border-radius: 50%;
    height: 250px;
    object-fit: cover;
}

.profile .user-info{
    margin-left: 30px;
    margin-top: 50px;
}




